<mat-card>
  <mat-card-header>
    <mat-card-title>Gerenciar Transações</mat-card-title>
    <mat-card-subtitle>Pesquisa de Transações: <em>Preencha quantos campos preferir.</em></mat-card-subtitle>
    <div class="grid-container">
      &nbsp;
    </div>
    <div class="grid-container">
      <button mat-raised-button class="grid-item button" color="primary" type="submit" (click)="redirectToNew()">
        Cadastrar Nova Transação
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>

    <!-- mensagem -->
    <app-messages [texto]="mensagem" />
    <br />

    <form [formGroup]="listForm" (ngSubmit)="onSubmit()">
      <div class="grid-container">
        <mat-form-field class="grid-item">
          <input type="text" matInput placeholder="ID da Transação" formControlName="id" />
        </mat-form-field>

        <mat-form-field class="grid-item">
          <mat-label>Portfólio</mat-label>
          <mat-select placeholder="Portfólio:" formControlName="portfolioId">
            <mat-option *ngFor="let portfolio of portfolios" [value]="portfolio.id">
              {{ portfolio.nome }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="grid-item">
          <mat-label>Ativo</mat-label>
          <mat-select placeholder="Ativo Id" formControlName="ativoId">
            <mat-option *ngFor="let ativo of ativos" [value]="ativo.id">
              {{ ativo.nome }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="grid-item">
          <mat-label>Tipo Transação</mat-label>
          <mat-select placeholder="Tipo Transação" formControlName="tipoTransacao">
            <mat-option value="">Escolha uma opção</mat-option>
            <mat-option [value]="1">Compra</mat-option>
            <mat-option [value]="2">Venda</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="grid-item">
          <input type="text" matInput placeholder="Quantidade" formControlName="quantidade" />
        </mat-form-field>

        <mat-form-field class="grid-item">
          <input type="text" matInput placeholder="Preço" formControlName="preco" />
        </mat-form-field>

        <mat-form-field class="grid-item">
          <input type="text" matInput placeholder="Data Transação" formControlName="dataTransacao" />
        </mat-form-field>

        <button mat-raised-button class="grid-item button" color="primary" type="submit" [disabled]="!listForm.valid">
          Consultar
        </button>
      </div>
    </form>

    <div>

      <mat-table [dataSource]="dataTable" class="tabela-contas">
        <!-- coluna 'data' -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef><strong>ID</strong></mat-header-cell>
          <mat-cell *matCellDef="let item">
            {{ item.id }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="portfolioId">
          <mat-header-cell *matHeaderCellDef><strong>Portfolio Id</strong></mat-header-cell>
          <mat-cell *matCellDef="let item">
            {{ item.portfolioId }}
            <!-- <p *ngIf="item.portfolioId === 1">Portfolio Demetrios</p>
            <p *ngIf="item.portfolioId === 2">Portfolio Erick</p>
            <p *ngIf="item.portfolioId === 3">Portfolio MARINA </p>
            <p *ngIf="item.portfolioId === 4">Portfolio Pamela</p> -->
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="ativoId">
          <mat-header-cell *matHeaderCellDef><strong>Ativo Id</strong></mat-header-cell>
          <mat-cell *matCellDef="let item">
            {{ item.ativoId }}
            <!-- <p *ngIf="item.ativoId === 1">Nome Ativo Acao 001</p>
            <p *ngIf="item.ativoId === 2">Nome Ativo Titulo 001</p>
            <p *ngIf="item.ativoId === 3">Nome Ativo Criptomoeda 001</p>
            <p *ngIf="item.ativoId === 4">Nome Ativo Titulo 002</p> -->
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="tipoTransacao">
          <mat-header-cell *matHeaderCellDef><strong>Tipo Transação</strong></mat-header-cell>
          <mat-cell *matCellDef="let item">
            <!-- {{ item.tipoTransacao }} -->
            <p *ngIf="item.tipoTransacao === 1">Compra</p>
            <p *ngIf="item.tipoTransacao === 2">Venda</p>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="quantidade">
          <mat-header-cell *matHeaderCellDef><strong>Quantidade</strong></mat-header-cell>
          <mat-cell *matCellDef="let item">
            {{ item.quantidade }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="preco">
          <mat-header-cell *matHeaderCellDef><strong>Preço</strong></mat-header-cell>
          <mat-cell *matCellDef="let item">
            {{ item.preco }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="dataTransacao">
          <mat-header-cell *matHeaderCellDef><strong>Data Transação</strong></mat-header-cell>
          <mat-cell *matCellDef="let item">
            {{ item.dataTransacao }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef><strong>Funcionalidades</strong></mat-header-cell>
          <mat-cell *matCellDef="let item">
            <button mat-raised-button color="primary" (click)="redirectToEdit(item.id)">Editar</button>
            &nbsp;&nbsp;&nbsp;
            <button mat-raised-button color="primary" (click)="redirectToDelete(item.id)">Excluir</button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="colunas"></mat-header-row>
        <mat-row *matRowDef="let row; columns: colunas"></mat-row>
      </mat-table>

      <p>
        Quantidade de registros obtidos: {{dataTable.data.length}}
      </p>
      <div class="grid-container">
        <button mat-raised-button class="grid-item button" color="primary" type="submit" [disabled]="!listForm.valid"
          (click)="redirectToHome()">
          Voltar
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>