<mat-card>
  <mat-card-header>
    <mat-card-title>Gerenciar Ativos</mat-card-title>
    <mat-card-subtitle>Pesquisa de Ativos:<em>Preencha um ou mais campos.</em></mat-card-subtitle>
    <div class="grid-container">
      &nbsp;
    </div>
    <div class="grid-container">
      <button mat-raised-button class="grid-item button" color="primary" type="submit" (click)="redirectToNew()">
        Cadastrar Novo Ativo
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>

    <!-- mensagem -->
    <app-messages [texto]="mensagem" />
    <br />

    <form [formGroup]="listForm" (ngSubmit)="onSubmit()">
      <div class="grid-container">
        <mat-form-field class="grid-item">
          <input type="text" matInput placeholder="ID do Ativo" formControlName="id" />
        </mat-form-field>

        <mat-form-field class="grid-item">
          <input type="text" matInput placeholder="Tipo de Ativo" formControlName="tipoAtivo" />
        </mat-form-field>

        <mat-form-field class="grid-item">
          <input type="text" matInput placeholder="Nome" formControlName="nome" />
        </mat-form-field>

        <mat-form-field class="grid-item">
          <input type="text" matInput placeholder="Código" formControlName="codigo" />
        </mat-form-field>

        <button mat-raised-button class="grid-item button" color="primary" type="submit" [disabled]="!listForm.valid">
          Consultar
        </button>
      </div>
    </form>

    <div>
      <mat-table [dataSource]="dataTable" class="tabela-contas">
        <!-- coluna 'data' -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef><strong>ID</strong></mat-header-cell>
          <mat-cell *matCellDef="let item">
            {{ item.id }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="tipoAtivo">
          <mat-header-cell *matHeaderCellDef><strong>Tipo de Ativo</strong></mat-header-cell>
          <mat-cell *matCellDef="let item">
            <p *ngIf="item.tipoAtivo === 1">Ação</p>
            <p *ngIf="item.tipoAtivo === 2">Título</p>
            <p *ngIf="item.tipoAtivo === 3">Crypto</p>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="nome">
          <mat-header-cell *matHeaderCellDef><strong>Nome</strong></mat-header-cell>
          <mat-cell *matCellDef="let item">
            {{ item.nome }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="codigo">
          <mat-header-cell *matHeaderCellDef><strong>Código</strong></mat-header-cell>
          <mat-cell *matCellDef="let item">
            {{ item.codigo }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
          <mat-cell *matCellDef="let item">
            <button mat-raised-button color="primary" (click)="redirectToEdit(item.id)">Editar</button>
            &nbsp;&nbsp;&nbsp;
            <button mat-raised-button color="primary" (click)="redirectToDelete(item.id)">Excluir</button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="colunas"></mat-header-row>
        <mat-row *matRowDef="let row; columns: colunas"></mat-row>
      </mat-table>

      <p>
        Quantidade de registros obtidos: {{dataTable.data.length}}
      </p>
      <div class="grid-container">
        <button mat-raised-button class="grid-item button" color="primary" type="submit" [disabled]="!listForm.valid"
          (click)="redirectToHome()">
          Voltar
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>