<mat-card>
    <mat-card-header>
        <mat-card-title>Usuários:</mat-card-title>
        <mat-card-subtitle>Editar</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <br />

        <!-- exibição das mensagens -->
        <app-messages [texto]="mensagem" />
        <br />

        <div>
            <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
                <div class="grid-container">

                    <mat-form-field class="grid-item">
                        <input matInput placeholder="Nome:" formControlName="nome" />
                        <mat-error *ngIf="form.name && form.name.invalid">
                            <span *ngIf="form.name.errors.required">
                                Por favor, informe o nome do Usuário.
                            </span>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="grid-item">
                        <input matInput placeholder="E-mail:" formControlName="email" />
                        <mat-error *ngIf="form.codigo && form.codigo.invalid">
                            <span *ngIf="form.codigo.errors.required">
                                Por favor, informe o E-mail do Usuário.
                            </span>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="grid-item">
                        <input matInput placeholder="Senha:" formControlName="senha" />
                        <mat-error *ngIf="form.senha && form.senha.invalid">
                            <span *ngIf="form.senha.errors.required">
                                Por favor, informe uma Senha.
                            </span>
                        </mat-error>
                    </mat-form-field>

                    <input matInput placeholder="ID:" formControlName="id" readonly="true" hidden="true" />

                    <button mat-raised-button class="grid-item" color="primary" type="submit"
                        [disabled]="!createForm.valid">
                        Salvar
                    </button>
                </div>
            </form>
        </div>
    </mat-card-content>
</mat-card>