<mat-card>
  <mat-card-title>Novo Usuário</mat-card-title>
  <mat-card-content>
    <form [formGroup]="newForm" (ngSubmit)="submit(newForm.value)">
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Nome" formControlName="nome">
          <mat-error *ngIf="newForm.get('nome')?.hasError('required')">Nome obrigatório</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Email" formControlName="email" autocomplete="off">
          <mat-error *ngIf="newForm.get('email')?.hasError('required')">E-mail obrigatório</mat-error>
          <mat-error *ngIf="newForm.get('email')?.hasError('email')">Por favor digite um e-mail
            válido</mat-error>
        </mat-form-field>
      </p>

      <div class="button">
        <button type="submit" mat-raised-button color="primary" [disabled]="!newForm.valid">Enviar</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>