<mat-card>
    <mat-card-header>
        <mat-card-title>Portfólios:</mat-card-title>
        <mat-card-subtitle>Novo</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <br />

        <!-- exibição das mensagens -->
        <app-messages [texto]="mensagem" />
        <br />

        <div>
            <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
                <div class="grid-container">
                    <mat-form-field>
                        <mat-select placeholder="Usuário:" formControlName="usuarioID" >
                            <mat-option *ngFor="let usuario of usuarios" [value]="usuario.id">
                                {{ usuario.nome }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="grid-item">
                        <input matInput placeholder="Nome:" formControlName="nome" />
                        <mat-error *ngIf="form.nome && form.nome.invalid">
                            <span *ngIf="form.nome.errors.required">
                                Por favor, informe o Nome do Portfólio.
                            </span>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="grid-item">
                        <input matInput placeholder="Descrição:" formControlName="descricao" />
                        <mat-error *ngIf="form.descricao && form.descricao.invalid">
                            <span *ngIf="form.descricao.errors.required">
                                Por favor, informe a Descrição do Portfólio
                            </span>
                        </mat-error>
                    </mat-form-field>


                    <button mat-raised-button class="grid-item" color="primary" type="submit"
                        [disabled]="!createForm.valid">
                        Cadastrar
                    </button>
                </div>
            </form>
        </div>
    </mat-card-content>
</mat-card>